.clients {
  padding-top: 160px;
  padding-bottom: 120px;
  background-color: var(--light-color);

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 102px;
  }

  &__link {
    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }

    &:hover {
      color: var(--color-primary);
    }

    &:active {
      color: var(--color-active);
    }
  }
}
