.header {
  padding: 23px 0 21px 0;
    &__container {
        @include flex-all-sb;
    }

    &__nav {
      margin-left: -112px;

      @include mini-desktop {
        margin-left: 0;
      }

      @include tablet {
        display: none;
      }
    }

    &--main {
      background-color: var(--light-color);
    }
    &--secondary {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
}

.logo {
  &:focus {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }

  @include mini-desktop {
    max-width: 100px;
  }

  @include tablet {
    max-width: none;
  }

}
