.partners {
  padding: 80px 0;
  background-color: var(--color-athens);

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    display: grid;
    row-gap: 40px;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 102px;
  }

  &__link {

    &:focus {
      outline: 1px solid var(--color-primary);
      outline-offset: 2px;
    }
  }

  &--about {
    padding: 120px 0;
    background-color: var(--light-color);

    .partners__title {
      margin-bottom: 25px;
    }
  }
}
