.recent-news {
  padding-top: 80px;
  padding-bottom: 120px;
  background-color: var(--light-color);

  &__title {
    margin: 0;
    margin-bottom: 60px;
  }

  &__list {
    grid-template-rows: repeat(2, 255px);
    margin-bottom: 80px;
  }

  &__item {
    grid-column: 5 span;
    &:first-child {
      grid-column: 7 span;
      grid-row: 2 span;
    }
  }
}

.recent-article {
  overflow: hidden;
  border-radius: 4px;
  height: 100%;
  box-shadow: var(--main-shadow);
  background: var(--light-color);

  &--small {
    .recent-article__descr {
      display: none;
    }
    .recent-article__text {
      padding: 20px 24px;
    }

    .recent-acticle__title {
      margin-bottom: 9px;
    }
  }

  &__text {
    padding: 20px 24px;
  }

  &__title {
    margin: 0;
    margin-bottom: 13px;
  }
  &__link {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-ebony);
  }

  &__descr {
    margin: 0;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-gray);
  }

  &__meta {
    margin-bottom: 17px;
  }
}

.article-meta {
  font-size: 14px;
  line-height: 150%;
  color: var(--color-storm);

  &__item {
    position: relative;
    color: inherit;
    &:not(:last-child) {
      margin-right: 21px;
      &::after {
        content: "";
        position: absolute;
        right: -12px;
        top: 3px;
        width: 1px;
        height: 11px;
        color: inherit;
        background-color: currentColor;
      }
    }

    &--comments {
      padding-left: 24px;
      background-image:  url('../img/comments.svg');
      background-position: left center;
      background-size: 16px 16px;
      background-repeat: no-repeat;
    }
  }
}
