<section class="about-section section-offset">
  <div class="container">
    <h2 class="title title--center">
      We&nbsp;are Createx Construction Bureau
    </h2>
    <p class="descr descr--center">We&nbsp;are rightfully considered to&nbsp;be&nbsp;the best construction company in&nbsp;the USA.</p>

    <div class="video-block">
      <button class="btn-reset video-block__play" aria-label="Play Video">
        <svg>
          <use xlink:href="img/sprite.svg#play"></use>
        </svg>
      </button>
      <video class="video-block__content" src="about-video.mp4" preload="metadata" loop muted></video>
    </div>
  </div>
</section>
