<section class="team">
  <div class="container">
    <h2 class="title title--center team__title">Our team</h2>
    <p class="descr descr--center team__descr">People are at&nbsp;the heart of&nbsp;Createx Construction Bureau</p>
    <ul class="list-reset team__list grid">
      <li class="team__item">
        <img class="team__image" src="img/team/team-1.jpg" alt="team image">
        <div class="team__name">Courtney Alexander</div>
        <div class="team__post">CEO, Co-Founder</div>
        <div class="team__socials">
          <a href="#" target="_blank" aria-label="linked in" class="team__link">
            <svg>
              <use xlink:href="img/sprite.svg#linked"></use>
            </svg>
          </a>
          <a href="#" target="_blank" aria-label="twitter" class="team__link">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
          <a href="#" target="_blank" aria-label="facebook" class="team__link">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <img class="team__image" src="img/team/team-1.jpg" alt="team image">
        <div class="team__name">Courtney Alexander</div>
        <div class="team__post">CEO, Co-Founder</div>
        <div class="team__socials">
          <a href="#" target="_blank" aria-label="linked in" class="team__link">
            <svg>
              <use xlink:href="img/sprite.svg#linked"></use>
            </svg>
          </a>
          <a href="#" target="_blank" aria-label="twitter" class="team__link">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
          <a href="#" target="_blank" aria-label="facebook" class="team__link">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <img class="team__image" src="img/team/team-1.jpg" alt="team image">
        <div class="team__name">Courtney Alexander</div>
        <div class="team__post">CEO, Co-Founder</div>
        <div class="team__socials">
          <a href="#" target="_blank" aria-label="linked in" class="team__link">
            <svg>
              <use xlink:href="img/sprite.svg#linked"></use>
            </svg>
          </a>
          <a href="#" target="_blank" aria-label="twitter" class="team__link">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
          <a href="#" target="_blank" aria-label="facebook" class="team__link">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <img class="team__image" src="img/team/team-1.jpg" alt="team image">
        <div class="team__name">Courtney Alexander</div>
        <div class="team__post">CEO, Co-Founder</div>
        <div class="team__socials">
          <a href="#" target="_blank" aria-label="linked in" class="team__link">
            <svg>
              <use xlink:href="img/sprite.svg#linked"></use>
            </svg>
          </a>
          <a href="#" target="_blank" aria-label="twitter" class="team__link">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
          <a href="#" target="_blank" aria-label="facebook" class="team__link">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <img class="team__image" src="img/team/team-1.jpg" alt="team image">
        <div class="team__name">Courtney Alexander</div>
        <div class="team__post">CEO, Co-Founder</div>
        <div class="team__socials">
          <a href="#" target="_blank" aria-label="linked in" class="team__link">
            <svg>
              <use xlink:href="img/sprite.svg#linked"></use>
            </svg>
          </a>
          <a href="#" target="_blank" aria-label="twitter" class="team__link">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
          <a href="#" target="_blank" aria-label="facebook" class="team__link">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <img class="team__image" src="img/team/team-1.jpg" alt="team image">
        <div class="team__name">Courtney Alexander</div>
        <div class="team__post">CEO, Co-Founder</div>
        <div class="team__socials">
          <a href="#" target="_blank" aria-label="linked in" class="team__link">
            <svg>
              <use xlink:href="img/sprite.svg#linked"></use>
            </svg>
          </a>
          <a href="#" target="_blank" aria-label="twitter" class="team__link">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
          <a href="#" target="_blank" aria-label="facebook" class="team__link">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <img class="team__image" src="img/team/team-1.jpg" alt="team image">
        <div class="team__name">Courtney Alexander</div>
        <div class="team__post">CEO, Co-Founder</div>
        <div class="team__socials">
          <a href="#" target="_blank" aria-label="linked in" class="team__link">
            <svg>
              <use xlink:href="img/sprite.svg#linked"></use>
            </svg>
          </a>
          <a href="#" target="_blank" aria-label="twitter" class="team__link">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
          <a href="#" target="_blank" aria-label="facebook" class="team__link">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <img class="team__image" src="img/team/team-1.jpg" alt="team image">
        <div class="team__name">Courtney Alexander</div>
        <div class="team__post">CEO, Co-Founder</div>
        <div class="team__socials">
          <a href="#" target="_blank" aria-label="linked in" class="team__link">
            <svg>
              <use xlink:href="img/sprite.svg#linked"></use>
            </svg>
          </a>
          <a href="#" target="_blank" aria-label="twitter" class="team__link">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
          <a href="#" target="_blank" aria-label="facebook" class="team__link">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
    <div class="team__text">
      Become a part of the best team in the construction market of the USA. <a href="">Available Positions</a>
    </div>
  </div>
</section>
