// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Ubuntu", sans-serif;
  --content-width: 1260px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  //sizes
  --grid-gap: 30px;

  // colors
  --light-color: #fff;
  --color-gray: #424551;
  --color-storm: #787a80;
  --color-ebony: #1e212c;
  --color-primary:  #ff5a30;

}
